@import "tailwindcss";

@theme {
	--color-background: oklch(21% 0.006 285.885); /* zinc-900 */
	--color-light-background: #1c1f26;
	--color-primary: oklch(67.3% 0.182 276.935);
	--color-main-color: oklch(98.5% 0 0); /* text */
	--color-muted-color: oklch(60% 0.02 276.935);
	--color-card-surface: color-mix(
		in oklch,
		var(--color-primary) 20%,
		var(--color-background)
	);
}

/* reset css */
html,
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	background-color: var(--color-background);
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
	display: none;
}

* {
	/* Remove focus outlines globally */
	outline: none;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Set cursor style for interactive elements */
input[type="button"],
input[type="submit"],
button {
	cursor: pointer;
}

/* custom variant to user for the standalone pwa app */
@custom-variant app {
	@media (display-mode: standalone) {
		@slot;
	}
}

@custom-variant web {
	@media (display-mode: browser) {
		@slot;
	}
}

@utility pt-safe-or-5 {
	padding-top: env(safe-area-inset-top);
	@media (pointer: fine) {
		padding-top: max(env(safe-area-inset-top), 1.25rem);
	}
}

@utility pb-safe-or-5 {
	padding-bottom: env(safe-area-inset-bottom);
	@media (display-mode: standalone) {
		padding-bottom: max(env(safe-area-inset-bottom), 1.25rem);
	}
	@media (pointer: fine) {
		padding-bottom: max(env(safe-area-inset-bottom), 1.25rem);
	}
}

@utility px-safe-or-4 {
	padding-left: max(env(safe-area-inset-left), 1rem);
	padding-right: max(env(safe-area-inset-right), 1rem);
}

@utility pb-safe {
	padding-bottom: env(safe-area-inset-bottom);
}

@utility mb-safe {
	margin-bottom: env(safe-area-inset-bottom);
}

@utility bottom-safe {
	bottom: env(safe-area-inset-bottom);
}
