@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: rgb(24 24 27);
}

/* Basic reset for all input, select, and textarea elements */
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  box-sizing: border-box;
  appearance: none;
}

/* Remove specific styles for checkboxes, radio buttons, and color picker */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
	border: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
	padding: 0;
}

/* Remove spin buttons from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Reset file input */
input[type="file"] {
  color: inherit;
  background: none;
  padding: 0;
  border: none;
}

/* Reset for range inputs */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: none;
}

/* Custom style for range thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
}

/* Remove resize for textarea */
textarea {
  resize: none;
}

/* Set cursor style for interactive elements */
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}
