@import "tailwindcss";

@theme {
	--color-background: oklch(21% 0.006 285.885); /* zinc-900 */
	--color-light-background: #1c1f26;
	--color-primary: oklch(67.3% 0.182 276.935);
	--color-main-color: oklch(98.5% 0 0); /* text */
	--color-muted-color: oklch(60% 0.02 276.935);
}

/* reset css */
html,
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	background-color: var(--color-background);
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
	display: none;
}

* {
	/* Remove focus outlines globally */
	outline: none;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Set cursor style for interactive elements */
input[type="button"],
input[type="submit"],
button {
	cursor: pointer;
}
